@import "vendor/_reset";
@import "vendor/_bariol-font";
@import "base/_variables";

html {
  font-size: 100%;
  font-family: $font-primary;
  font-weight: 600;
}

body {
	padding-top: 50px;
}

section > * {
  max-width: 1200px;
  margin: 0 auto;
}

@import "partials/header";
@import "partials/search-results";
