@import "vendor/_reset";

html {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

header,
section > * {
  max-width: 1200px;
  margin: 0 auto;
}

@import "partials/header";
@import "partials/search-results";
