<div class="movie-details">
  <div class="poster">
    <img src="{{mCtrl.movie.Poster | PosterSource }}" class="poster-img" alt="{{mCtrl.movie.Title}}">
  </div>
  <div class="information">
    <h2>{{mCtrl.movie.Title}}</h2>
    <div class="middle">
      <div class="other">
        <ul class="other-keys">
          <li>year</li>
          <li>country</li>
          <li>director</li>
          <li>genres</li>
          <li>duration</li>
        </ul>
        <ul class="other-values">
          <li>{{mCtrl.movie.Year}}</li>
          <li>{{mCtrl.movie.Country}}</li>
          <li>{{mCtrl.movie.Director}}</li>
          <li>{{mCtrl.movie.Genre}}</li>
          <li>{{mCtrl.movie.Runtime}}</li>
        </ul>
      </div>
    </div>
    <p class="plot">{{mCtrl.movie.Plot}}</p>
  </div>
  <div class="comments-block">
    <ul class="comments"></ul>
    <form class="comments-form">
      <textarea class="comment-text" name="name" placeholder="Comment text" ng-model="mCtrl.comment"></textarea>
      <button type="submit" name="button" class="btn">Send</button>
    </form>
  </div>
</div>
