@import "vendor/_reset";
@import "vendor/_bariol-font";
@import "base/_variables";

html {
  font-size: 100%;
  font-family: $font-primary;
  font-weight: 600;
}

body {
	padding-top: 80px;
}

section > * {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  background-color: $color-primary;
  color: #fff;
  padding: 0 20px;
  border-radius: $search-border-radius;
  transition: all .3s;

  &:hover {
    // background-color: #23bdce;
  }
}

@import "partials/header";
@import "partials/fav-list";
@import "partials/movie-details";
@import "partials/search-results";
